<h1>従業員選択</h1>
<% @users.each_with_index do |user,i| %>
<% if i % 3 == 0%>
<div class="ui fluid three item menu">
<% end %>
    <%= link_to user.user_name, {action: 'choice', id: user.id},class: 'item', method: :post %>
    <% if @count == (i+1) %>
        <% if @num != 0%>
            <% for t in 1..@num %>
             <div class="item"></div>
            <% end %>
            </div>
        <% end %>
    <% end %>
<% if (i-2) % 3 == 0 %>
</div>
<% end %>
<% end %>
    <%= link_to '自分の名前がないって？？？？？', 'new'%><br>
    <%= link_to '従業員やめたって？？？？？？？', 'mente'%>